body{
    background:black;
    text-align: center;
    height: 5000px;
}

.container{
    display: flex;
    flex-direction: row;
}

.custom{
    background: green;
    border: 2px dashed red;
    color: white;
}

.custom:hover{
    background: blue;
    cursor: pointer;
}

.custom:focus {
    background: green;
}

#button2{
    position: fixed;
    top: 20px;
    right: 20px;
}

@media screen and (min-width: 300px) {
    .custom {
        border: 2px dashed blue;
    }
}